#root {
  margin: auto;
}

@font-face {
  font-family: Exo;
  src: url(./components/font/Exo2-Regular.ttf);
}

body {
  font-family: Exo, sans-serif;
  margin: auto;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
